Django==6.0.3
psycopg2-binary==2.9.12
python-dotenv==1.2.2
strawberry-graphql==0.319.0
strawberry-graphql-django==0.86.4
graphql-core==3.2.11
pillow==12.1.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1